@import url(https://fonts.googleapis.com/css?family=Roboto:300);

body {
    padding-top: 50px;
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}
.main button {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #005311;
    width: 200px;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 5px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.warn_text{
    color: firebrick;
}
.statresult{
    display: none;
    background: #f2f2f2;
    padding: 15px;
    margin: 0 0 15px;
}